html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: tomato;
}

.box {
    display: flex;
    transition: all .3s;
}

.lol {
    margin-top: 200px;
    margin-left: 200px;
    color: green;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 700;

}